*{
    padding: 0px;
    margin: 0;
    color:#373228;
}
body{
    background-color: #F0E4AF;
    font-family: 'Nunito', sans-serif;
}
span{
    display: inline-block;
}
.responsive {
    width: 100%;
    height: auto;
}
main{
    z-index: 0;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav img{
    max-width: 70px;
}
nav ul{
    align-items: center;
}
button .navbarToggler{
    align-self: left;
}
.aviso{
    font-family: 'Courgette', cursive;
    background-color: #A69472;
    opacity: 70%;
    text-align: center;
}

@media screen and (min-width: 996px) {
    nav ul{
        align-items: center;
    }
    .footerCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    }
    .redesSociales, .newsletter{
    border-left: #37322880 1px solid;
    }
    footer div{
        width: 33.3%;
        padding: 20px 20px 0 ;
    }
}
